img{
    width:100px;
}
body{
    padding-top:40px;
    font-family: 'Open Sans', sans-serif;
    text-align:center;
}
p{color:white;}

button{
    padding:20px;
}
h3{
    color:red;
}
.h3{
    color:green;
}
#h3{
    color:blue;
}